In [2]:
from azureml.data.dataset_factory import TabularDatasetFactory as tdf
import pandas as pd

In [55]:
data_path = 'https://raw.githubusercontent.com/tybyers/AZMLND_projects/capstone/capstone/data/train_1_10k.csv'
dataset = tdf.from_delimited_files(path=data_path)
df = dataset.to_pandas_dataframe()

In [56]:
label_cols = ['ProductName', 'EngineVersion', 'AppVersion', 'AvSigVersion', 'RtpStateBitfield', 'DefaultBrowsersIdentifier', 
              'CityIdentifier', 'OrganizationIdentifier', 'Platform', 'Processor', 'OsVer', 'OsPlatformSubRelease', 
              'OsBuildLab', 'SkuEdition', 'PuaMode', 'SMode', 'IeVerIdentifier', 'SmartScreen', 'UacLuaenable', 
              'Census_MDC2FormFactor', 'Census_DeviceFamily', 'Census_OEMNameIdentifier', 'Census_OEMModelIdentifier', 
              'Census_ProcessorClass', 'Census_PrimaryDiskTypeName', 'Census_TotalPhysicalRAM', 'Census_ChassisTypeName', 
              'Census_InternalPrimaryDiagonalDisplaySizeInInches', 'Census_InternalPrimaryDisplayResolutionHorizontal', 
              'Census_InternalPrimaryDisplayResolutionVertical', 'Census_PowerPlatformRoleName', 'Census_InternalBatteryType', 
              'Census_InternalBatteryNumberOfCharges', 'Census_OSVersion', 'Census_OSArchitecture', 'Census_OSBranch', 
              'Census_OSEdition', 'Census_OSSkuName', 'Census_OSInstallTypeName', 'Census_OSInstallLanguageIdentifier', 
              'Census_OSWUAutoUpdateOptionsName', 'Census_GenuineStateName', 'Census_ActivationChannel', 'Census_IsFlightingInternal',
              'Census_IsFlightsDisabled', 'Census_FlightRing', 'Census_ThresholdOptIn', 'Census_FirmwareManufacturerIdentifier', 
              'Census_FirmwareVersionIdentifier', 'Census_IsWIMBootEnabled', 'Census_IsVirtualDevice', 'Wdft_IsGamer', 
              'Wdft_RegionIdentifier']

In [57]:
from sklearn.preprocessing import LabelEncoder

In [58]:
lab_encs = {}
for label in label_cols:
    le = LabelEncoder().fit(df[label])
    df[label] = le.transform(df[label])
    lab_encs[label] = le

In [60]:
df[label_cols[:10]].head()

,ProductName,EngineVersion,AppVersion,AvSigVersion,RtpStateBitfield,DefaultBrowsersIdentifier,CityIdentifier,OrganizationIdentifier,Platform,Processor
0,1,32,28,964,4,82,676,4,0,1
1,1,22,17,318,4,82,1231,4,0,1
2,1,32,28,841,4,82,1356,4,0,1
3,1,32,28,888,4,82,1756,23,0,1
4,1,32,28,850,4,82,2169,23,0,1

In [61]:
# # transform back
# for label in label_cols[:3]:
#     df[label] = lab_encs[label].inverse_transform(df[label])

In [62]:
df[label_cols[:4]].head()

   ProductName  EngineVersion  AppVersion  AvSigVersion
0            1             32          28           964
1            1             22          17           318
2            1             32          28           841
3            1             32          28           888
4            1             32          28           850

In [67]:
X = df.copy()
y = X.pop("HasDetections")

In [82]:
import xgboost as xgb
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [90]:
model = xgb.XGBClassifier(max_depth = 4, n_estimators=300, learning_rate=0.1)

In [91]:
kfold = KFold(n_splits=5, random_state=105)
results = cross_val_score(model, X.values, y.values, cv=kfold)
print("Accuracy: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Accuracy: 61.82% (0.69%)